In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
sns_data = pd.read_csv('./datasets/sns_survey_2021.csv')
sns_data.head()

,respid,sample,comp,int_date,lang,state,density,usr,qs1,sex,...,income,party,partyln,hh1,hh3,ql1,ql1a,qc1,weight,cellweight
0,798,1,1,1/26/2021,1,51,5,S,,2,...,6,2,,1,,1,,,0.557187,
1,1017,1,1,1/25/2021,1,39,2,S,,1,...,5,1,,2,2,1,,,0.987209,
2,1181,1,1,1/25/2021,1,32,2,U,,2,...,8,3,2,2,2,1,,,0.925147,
3,1388,1,1,1/25/2021,1,4,3,U,,1,...,8,2,,1,,1,,,0.311080,
4,1664,1,1,1/26/2021,1,12,2,S,,2,...,7,2,,2,2,1,,,0.396548,

In [3]:
sns_data.describe()

,respid,sample,comp,lang,state,density,sex,eminuse,intmob,snsint2,...,educ2,emplnw,disa,hisp,racem1,racecmb,income,party,hh1,weight
count,1502.000000,1502.000000,1502.0,1502.000000,1502.000000,1502.000000,1502.000000,1502.000000,1502.000000,1502.000000,...,1502.000000,1502.000000,1502.000000,1502.000000,1502.000000,1502.000000,1502.000000,1502.000000,1502.000000,1502.000000
mean,134280.018642,1.800266,1.0,1.051931,28.747670,2.921438,1.424101,1.077896,1.123169,1.311585,...,6.587217,3.691744,1.950732,2.049268,1.804927,1.813582,6.493342,2.643142,2.833555,1.000000
std,64625.388500,0.399933,0.0,0.221961,16.391841,1.406829,0.494370,0.330431,0.328741,0.463295,...,11.660021,11.440903,0.970708,1.094579,1.951757,1.813746,2.720543,1.839083,1.888354,0.586059
min,798.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.311080
25%,106243.500000,2.000000,1.0,1.000000,12.000000,2.000000,1.000000,1.000000,1.000000,1.000000,...,4.000000,1.000000,2.000000,2.000000,1.000000,1.000000,4.000000,2.000000,2.000000,0.562129
50%,139521.000000,2.000000,1.0,1.000000,29.000000,3.000000,1.000000,1.000000,1.000000,1.000000,...,5.000000,2.000000,2.000000,2.000000,1.000000,1.000000,7.000000,2.000000,2.000000,0.864068
75%,172600.750000,2.000000,1.0,1.000000,42.000000,4.000000,2.000000,1.000000,1.000000,2.000000,...,6.000000,3.000000,2.000000,2.000000,1.000000,2.000000,9.000000,3.000000,4.000000,1.283513
max,311426.000000,2.000000,1.0,2.000000,56.000000,5.000000,2.000000,9.000000,2.000000,2.000000,...,99.000000,99.000000,9.000000,9.000000,9.000000,9.000000,10.000000,9.000000,9.000000,2.459681

In [4]:
sns_data = sns_data.replace(' ', np.nan)

In [5]:
sns_data.isnull().sum()

respid           0
sample           0
comp             0
int_date         0
lang             0
              ...
ql1           1202
ql1a          1475
qc1            300
weight           0
cellweight     300
Length: 89, dtype: int64

In [6]:
sns_data.drop(['sample', 'comp', 'int_date', 'lang', 'state', 'density', 'usr', 'qs1', 'bbhome2',
               'hisp', 'ql1', 'weight', 'cellweight'
              ], axis=1, inplace=True)
sns_data.columns

Index(['respid', 'sex', 'eminuse', 'intmob', 'intfreq', 'snsint2', 'home4nw',
       'bbhome1', 'device1a', 'smart2', 'bbsmart2', 'bbsmart3a', 'bbsmart3b',
       'bbsmart3c', 'bbsmart3d', 'bbsmart3e', 'bbsmart3f', 'bbsmart3f_1_other',
       'bbsmart4', 'cable1', 'cable2', 'cable3a', 'cable3b', 'cable3c',
       'web1a', 'web1b', 'web1c', 'web1d', 'web1e', 'web1f', 'web1g', 'web1h',
       'web1i', 'web1j', 'web1k', 'sns2a', 'sns2b', 'sns2c', 'sns2d', 'sns2e',
       'paya', 'payb', 'payc', 'prob', 'coviddisa', 'coviddisb', 'coviddisc',
       'coviddisd', 'coviddise', 'device1b', 'device1c', 'device1d', 'books1',
       'books2a', 'books2b', 'books2c', 'gender', 'age', 'marital', 'par',
       'educ2', 'emplnw', 'disa', 'racem1', 'racem2', 'racem3', 'racem4',
       'racecmb', 'birth_hisp', 'income', 'party', 'partyln', 'hh1', 'hh3',
       'ql1a', 'qc1'],
      dtype='object')

In [7]:
len(sns_data.columns)

76

In [8]:
columns_name = ['id', 'sex', 'internet_usage', 'mobile_usage', 'Internet_usage_frequency',
               'sns_usage', 'internet_subscription', 'service_type', 'have_phone', 'is_smart',
               'interest_high', 'broad_expensive', 'computer_expensive', 'smart_everything',
               'other_options', 'issue', 'other_reason', 'other_reason_text', 'important_reason',
               'receive_tv', 'past_subscribe', 'not_watch_tv', 'cable_expensive', 'have_online',
               'use_twitter', 'use_instagram', 'use_facebook', 'use_snapchat', 'use_youtube',
               'use_whatsapp', 'use_pinterest', 'use_linkedin', 'use_reddit', 'use_tiktok',
               'use_nextdoor', 'often_twitter', 'often_instagram', 'often_facebook', 'often_snapchat',
               'often_youtube', 'pay_phone', 'pay_internet', 'pay_tv', 'often_connect',
               'covid_inform', 'covid_family', 'covid_job', 'covid_school', 'covid_medic',
               'have_tablet', 'have_computer', 'have_console', 'book_num', 'paper_book',
               'auio_book', 'e_book', 'gender', 'age', 'marry', 'parent', 'highest_edu', 'work',
               'handicap', 'race1', 'race2', 'race3', 'race4', 'race_text', 'birth_country', 'money',
               'politics', 'additional_politics', 'family', 'family_age', 'family_phone', 'home_phone']
len(columns_name)

76

In [9]:
sns_data.columns = columns_name
sns_data.head()

,id,sex,internet_usage,mobile_usage,Internet_usage_frequency,sns_usage,internet_subscription,service_type,have_phone,is_smart,...,race4,race_text,birth_country,money,politics,additional_politics,family,family_age,family_phone,home_phone
0,798,2,1,1,3,2,1,2,1,2,...,NaN,1,NaN,6,2,NaN,1,NaN,NaN,NaN
1,1017,1,1,1,2,1,1,2,1,1,...,NaN,1,NaN,5,1,NaN,2,2,NaN,NaN
2,1181,2,1,1,4,1,1,2,1,1,...,NaN,1,NaN,8,3,2,2,2,NaN,NaN
3,1388,1,1,1,2,1,1,2,1,1,...,NaN,1,NaN,8,2,NaN,1,NaN,NaN,NaN
4,1664,2,1,1,1,1,1,3,1,1,...,NaN,1,NaN,7,2,NaN,2,2,NaN,NaN